
.home__container{
  display: grid;
  grid-template-columns: 1.5fr 4fr;
 
  .left__wrapper{
    padding: 0.5rem;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .right__wrapper{
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar{
      display: none;
    }

    @media (max-width: 660px){
      padding: 0 0.2rem;
    }
  }

  @media (max-width: 660px){
    grid-template-columns: 1fr;
    min-height: auto;
    padding: 0;
  }
}





