.loading{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .loading__text{
        margin: 2rem;
    }
}
.table{
    border-collapse: collapse;
    width: 100%;
    position: relative;
    
    .table__head{
        background: #b350fe;
        color: #efdef8;

        .table__row{

            .table__data{
                padding: 0.2rem;
                border: 1.25px solid rgb(113, 84, 113);
            }
        }
    }
    .table__body{
        background: #efdef8;
        .table__row{
            position: relative;
            overflow: hidden;
            // border-right: 2px solid rgb(113, 84, 113);

            .table__data{
                padding: 0.2rem;
                border: 1.25px solid rgb(113, 84, 113);
                    
                
                .data__buttons{
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 0.2rem;
                    gap: 0.2rem;
                    
                    
                    button{
                        background-color: transparent;
                        color:  #b350fe;
                        &:hover{
                            color: #fff;
                            background-color: #b350fe;
                        }
                    }
                    button svg{
                        display: block;
                        font-size: 0.9rem;
                    }
                    
                }
                
                
            }

            
            // &:hover .table__data .data__buttons{
            //     gap: 0.2rem;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            // }
        }
    }
}