.loading{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .loading__text{
        margin: 2rem;
    }
}
.table{
    border-collapse: collapse;
    width: 100%;
    position: relative;
    
    .table__head{
        background: var(--moderate-orchid-color);
        color: var(--lavender-color);

        .table__row{
            
            .table__data{
                padding: 0.2rem;
                border: 1.25px solid var(--graybrowncrimson-color);
            }
        }
    }

    .table__body{
        background: var(--lavender-color);

        .table__row{
            position: relative;
            overflow: hidden;

            &.table__row--process{
                .table__data{
                    border-bottom: 1px solid red;
                }
            }
            
            &.table__row--success{
                .table__data{
                    border-bottom: 1px solid green;
                }
            }

            .table__data{
                padding: 0.2rem;
                border: 1.25px solid var(--graybrowncrimson-color);
                  

                
                .data__buttons{
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 0.2rem;
                    gap: 0.2rem;
                    
                    button{
                        background-color: transparent;
                        color:  var(--moderate-orchid-color);
                        
                        &:hover{
                            color: var(--white-color);
                            background-color: var(--moderate-orchid-color);
                        }
                    }

                    button svg{
                        display: block;
                        font-size: 0.9rem;
                    }  
                }  
            }
        }
    }
}

