.form{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-bottom: 0.5rem;

    .form__label{
        font-style: italic;
    }
    
    select{
        padding: 0.2rem;
        outline: none;
        border: 1px solid var(--moderate-orchid-color);
        color: var(--dark-orchid-color);
        background: transparent;
    }
}