.form{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-bottom: 0.5rem;

    .form__label{
        font-style: italic;
    }
    .form__input{
        
    }
    .form__button{
        
    }
}