.header{
    background: var(--darker-orchid-color);

    .header__container{
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem 0.5rem;
        height: 3.75rem;

        .header__image{
            height: 3rem;
            margin-right:0.5rem;
            @media (max-width: 660px){
                height: 2.5rem;
            }
        }

        .header__list{
            display: flex;
            align-items: center;
            list-style: none;
            gap: 0.5rem;

            
            .list__item{
                .list__link{
                    color: var(--white-color);

                    &.list__link--active{  
                        color: var(--wisteria-color);
                    }
                }
                .logout__button{
                    color: var(--white-color);
                    background-color: transparent;
                    padding: 0;
                    cursor: pointer;
                }
                
            }
        }
        .search__form{
            display: flex;

            .search__button{
                svg{
                    display: block;
                }
            }

            .search__input{
                width: 100%;
            }
        }

        .header__banner{
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: var(--white-color);
            z-index: 2;
            

            .banner__toggle__button{
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                svg{
                    display: block;
                }
            }
            .banner__container{
                margin: auto;
                max-width: 900px;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                padding: 1rem 2rem 1rem 1rem;
                gap: 1rem;
                overflow-y: auto;
                max-height: 100vh;
                ul{
                    list-style: none;
                    li{

                    }
                }
            }
        }
    }
}