.header{
    background: #9d4edd;

    .header__container{
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem 0.5rem;
        height: 3.75rem;

        .header__image{
            height: 3rem;
            margin-right:0.5rem;
            @media (max-width: 660px){
                height: 2.5rem;
            }
        }

        .header__list{
            display: flex;
            align-items: center;
            list-style: none;
            gap: 0.5rem;

            
            .list__item{
                .list__link{
                    color: #fff;

                    &.list__link--active{  
                        color: #bc9ed4;
                    }
                }
                .logout__button{
                    color: #fff;
                    background-color: transparent;
                    padding: 0;
                    cursor: pointer;
                }
                
            }
        }
        .search__form{
            display: flex;

            .search__button{
                svg{
                    display: block;
                }
            }

            .search__input{
                width: 100%;


            }
        }
    }
}