@font-face{
  font-family: Monitorica;
  src: url("./font/Monitorica-Rg.ttf") format("truetype");
}
:root{
  --moderate-orchid-color: #ba55d3; //#b350fe --> #ba55d3
  --darker-orchid-color: #9d4edd;
  --dark-orchid-color: #9932cc; //#a736fe --> #9932cc
  --red-color: red;
  --white-color: #ffffff;
  --wisteria-color: #c9a0dc; //#bc9ed4 --> #c9a0dc
  --lavender-color: #efdef8; //#efdef8 --> #e6e6fa
  --graybrowncrimson-color: #735184; //rgb(113, 84, 113) --> #735184
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Monitorica", sans-serif;
  font-weight: 300;
}

button{
  border: none;
  cursor: pointer;
  background-color: var(--moderate-orchid-color);
  padding: 0.25rem;
  color: var(--lavender-color);
}

body{
  min-height: 100vh;
  line-height: 1;
}

.app{
  min-height: 100vh;
  font-size: 1rem;
}

.container{
  margin: 0 auto;
  height: calc(100vh - 3.75rem);
  max-width: 1200px;
  overflow: hidden;
}

a{
  text-decoration: none;
}

input{
  padding: 0.2rem;
  outline: none;
  border: 1px solid var(--moderate-orchid-color);
  color: var(--dark-orchid-color);
}

@media (min-height: 720px){
  .container{
    height: 720px;
  } 
}

@media (max-width: 660px){
  .container{
    min-height: calc(100vh - 3.75rem);
    height: auto;
  }
  .app{
    font-size: 0.8rem;
  }
  button{
    font-size: 0.8rem;
  }
  tbody{
    word-break: break-all;
  }
  td{
    font-size: 0.7rem;
  }
}

